In [1]:
pwd

u'/Users/nweimer'

In [2]:
cwd

NameError: name 'cwd' is not defined

In [3]:
3/2

1

In [4]:
from__future__import division

SyntaxError: invalid syntax (<ipython-input-4-03af40d22172>, line 1)

In [5]:
from __future__ import division

In [6]:
3/2

1.5

In [7]:
4**5

1024

In [8]:
a = 5

In [9]:
a+a

10

In [10]:
a=15

In [11]:
a+a

30

In [12]:
a=a+a

In [13]:
a

30

In [14]:
#the names you use when creating these objects cannot start with a number, can have no spaces 
#(so use _) cant use special symbols, and typically everyone uses lower case

SyntaxError: invalid syntax (<ipython-input-14-a0503a4adb5b>, line 2)

In [15]:
#the names you use when creating these objects cannot
#start 
#with a number, can have no spaces (so use _)
#cant use special symbols, and typically everyone
#uses lower case

In [16]:
my_income = 100
tax_rate= 0.1
my_taxes=my_income*tax_rate

In [17]:
my_taxes

10.0

In [18]:
.1+.2-.3

5.551115123125783e-17

In [19]:
.10+.20-.30

5.551115123125783e-17

In [20]:
1/2

0.5

In [5]:
"To create a string, you can use single quotes or double quotes. if you are saying I'm, or anything with an apostrophe, you'll need double quotes so it doesn't confuse python"

"To create a string, you can use single quotes or double quotes. if you are saying I'm, or anything with an apostrophe, you'll need double quotes so it doesn't confuse python"

In [6]:
'Hello World'
"What's up"

"What's up"

In [7]:
print "Hello World"
print "What's up"

Hello World
What's up

In [9]:
print "Here is a new line \nHere is another line"

Here is a new line
Here is another line

In [10]:
print "Here is a new line \tAnd I inserted a tab"

Here is a new line 	And I inserted a tab

In [11]:
"If using python 3, the print notations will look like:"

'If using python 3, the print notations will look like:'

In [12]:
from __future__ import print_function

In [13]:
print('Hello World')

Hello World

In [16]:
len("len function checks the length of a string, spaces count too")

60

In [17]:
s="Hello World"

In [18]:
s

'Hello World'

In [19]:
print s

SyntaxError: invalid syntax (<ipython-input-19-ff1a9e6c21c5>, line 1)

In [20]:
print(s)

Hello World

In [21]:
"The error above was because I imported python 3 print function"

'The error above was because I imported python 3 print function'

In [22]:
#when indexing, indexes start at the number 0. so....

In [23]:
s[0]

'H'

In [24]:
s[1]

'e'

In [29]:
#the colen symbol in an index will slice the index. meaning it will 
#take everything from and including that element

In [26]:
s[1:]

'ello World'

In [27]:
s[:3]

'Hel'

In [30]:
#Here it grabbed everything up to the 3rd element, 
#but not including it. so it grabbed 0, 1, and 2

In [31]:
s[:]

'Hello World'

In [32]:
#it also can use negative numbers

In [35]:
s[-3]

'r'

In [36]:
s[-3:]

'rld'

In [37]:
s[::1]
#that means grab everything in step sizes of 1

'Hello World'

In [38]:
s[::2]

'HloWrd'

In [39]:
s[::-1]

'dlroW olleH'

In [40]:
#so that actually reverses the string and its very common

In [41]:
#immutability: once that string is created, the elements within it cant be changed/replaced...
#you can't use indexing to change individual elements of a string

In [43]:
#Ex:
s[0]= 'x'

TypeError: 'str' object does not support item assignment

In [44]:
#so s is our string here and strings in python are immutable

In [48]:
#HOWEVER, while you cant change/replace elements in a string, you CAN ADD ON TO IT:

s + '....concatenate me!'

'Hello World....concatenate me!'

In [49]:
s=s+"....concatentate me!"

In [50]:
s

'Hello World....concatentate me!'

In [51]:
s*10

'Hello World....concatentate me!Hello World....concatentate me!Hello World....concatentate me!Hello World....concatentate me!Hello World....concatentate me!Hello World....concatentate me!Hello World....concatentate me!Hello World....concatentate me!Hello World....concatentate me!Hello World....concatentate me!'

In [52]:
s="hello"

In [53]:
#periods show that we want to place a method on an object (a string is an object)
s.upper()

'HELLO'

In [54]:
#if you click tab after entering the period, you'll get a list of all the methods

In [56]:
s.split('e')

['h', 'llo']

In [17]:
x="my string"

In [4]:
print 'Place my variable here: %s' %(x)

Place my variable here: my string

In [5]:
#before this ran properly, i had to back out of this notebook, force it to stop running and start again because
#i had the python 3 print function uploaded from that "future" command and it needed to stop before it worked properly

In [6]:
#the s here stands for string, so x could be changed here but s cannot
#whatever you have after your % symbol is what it will use as the string

In [7]:
print "Floating point number: %1.2f" %(13.1224)

Floating point number: 13.12

In [9]:
#The "1" in the 1.2 specifies the minimum number of digits the string should contain. the "2" tells it how many
#numbers to show after the decimal point

In [10]:
print "Floating point number: %25.2f" %(13.1224)
#It fills in with white space for any characters not taken up by numbers

Floating point number:                     13.12

In [11]:
print "Convert to string %s" %(123)

Convert to string 123

In [12]:
#^that uses the str() function

In [13]:
print "Convert to string %r" %(123)

Convert to string 123

In [14]:
#^that uses the repr() function

In [15]:
#inputting more than one variable into our string requires multiple % symbols

In [21]:
print "First %s, Second: %s, Third %s" %('hi','2',x)

First hi, Second: 2, Third my string

In [22]:
#it prints them in order of how we entered it after the % symbol on the very end

In [25]:
#if we want an object printed out twice:

print "First %s, Second: %s, Third %s" %('hi','hi',x)

#or, simply:

print "First {x} Second: {y}, Third {x}".format(x="Nick", y="Caroline")

First hi, Second: hi, Third my string
First Nick Second: Caroline, Third Nick

In [26]:
#in python 3 it would look like:

# print('One: {x}'.format(x='Nick'))