In [1]:
#map() is a function that takes in two arguments: 
#a function and a sequence iterable. 
#In the form: 
#map(function, sequence)

#The first argument is the name of a function 
#and the second a sequence (e.g. a list). map() applies the 
#function to all the elements of the sequence. 
#It returns a new list with the elements changed by function.

#When we went over list copmrehension we created 
#a small expression to convert fahrenheit to celcius. 
#Let's do the same here but use map.

#We'll start with two functions:

In [2]:
def farenheit(T):
    return (9.0/5)*T + 32

In [3]:
farenheit(0)

32.0

In [5]:
templist= [0,22.5,40,100]

In [6]:
map(farenheit, templist)

[32.0, 72.5, 104.0, 212.0]

In [8]:
map(lambda T: (9.0/5)*T + 32, templist)
#dont need to define an entire function, we can just use a
#lambda expression

[32.0, 72.5, 104.0, 212.0]

In [10]:
#^Lambda expressions are very typical when we use map().
#Remember with Lambda expressions that whatever is to the
#left of the : is what you are imputting and whatever is to the
#right of it is what you want returned

In [11]:
#Can also pass more than 1 variable:

a=[1,2,3]
b=[4,5,6]
c=[7,8,9]

In [12]:
map(lambda x,y: x+y, a,b)

[5, 7, 9]

In [13]:
map(lambda x,y,z : x+y+z, a,b,c)

[12, 15, 18]

In [14]:
#x y and z could have been any variable, even a b and c or poop

In [16]:
map (lambda poop: poop*-1, a)

[-1, -2, -3]

In [17]:
#Section 7.2: Reduce()

In [18]:
#Many times students have difficulty understanding reduce() so pay
#careful attention to this lecture. The function reduce()
#takes in two argruments: function and sequence (same as map()).
#It continually applies the function to the sequence. It then
#returns a single value.

#So for a sequence [s1, s2, s3, s4], the function will be applied
#to s1 and s2 first, reduce this to a single number, then this
#result will be coupled with s3 and the function will be applied.
#Then the result of this will be coupled with s4 and the function
#will be applied. Example:

In [19]:
lst= [47,11,42,13]
reduce(lambda x,y: x+y, lst)

113

In [20]:
#So it added 47 and 11, got 58. Then added 58 and 42, got 100. Then
#added 100 and 13, got 113. With map(), we would have needed to
#input two lists instead of just 1 because we had two variables in
#our lambda expression.

In [21]:
#Thats why this doesnt work:
map(lambda x,y: x+y, lst)

TypeError: <lambda>() takes exactly 2 arguments (1 given)

In [22]:
#Let's use reduce to find a maximum of a sequence:

In [23]:
lst= [34,23,24,24,100,2333,2,11]

In [24]:
#Note: could just do this by max(lst)

In [25]:
whatsmax= lambda a, b: a if (a>b) else b

In [26]:
reduce (whatsmax, lst)

2333