In [1]:
#Comprehensions- In addition to sequence operations and list
#methods, Python includes a more advanced operation called a 
#list comprehension

#They allow us to build out lists using a different notation.
#You can think of it as a one line for loop built inside of 
#brackets. For ex:

In [2]:
#Grab every letter in string
lst=[x for x in 'word']

In [3]:
lst

['w', 'o', 'r', 'd']

In [4]:
l=[]
for letter in 'word':
    l.append(letter)

print l

['w', 'o', 'r', 'd']

In [5]:
#^Says for every element ('letter') in the string ('word'),
#add (append) that element to the end of the list. Then print

In [6]:
#So the 2nd example was not the list comprehension, the first
#example was. That first example essentially flattens out our
#2nd example's for loop to make it all appear within a bracket

In [9]:
lala=[letter for letter in 'word']
#So we begin with what we actually want the list to consist
#of (just 'letter' in this case). And it prints out this result. for every
#element in ___

In [10]:
lala

['w', 'o', 'r', 'd']

In [11]:
#Let's do another example. We will square numbers in a range
#and then print out that list

nums= [x**2 for x in range (0,11)]

In [12]:
nums

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [13]:
#Another example that checks for even numbers in a range 
#(remember the default beginning for a range is 0):

list=[number for number in range(11) if number %2==0]
#% symbol is called "modulo" (mod-jew-lo) and it checks for 
#even numbers in a range when we do %2==0

In [14]:
list

[0, 2, 4, 6, 8, 10]

In [15]:
#^We are saying for a number in that range, we want itself (since
#we just have 'number' at the beginning of the statement and not
#something like number+numer) if that number is even

#Way we would do this in a for loop:

list=[]
for numnum in range(11):
    if numnum %2==0:
        list.append(numnum)

In [16]:
list

[0, 2, 4, 6, 8, 10]

In [17]:
#Another example: Converting celsius to fahrenheit:

celsius=[0,10,20.1,34.5]

fahrenheit= [(temp*(9/5.0)+32) for temp in celsius]

In [18]:
fahrenheit

[32.0, 50.0, 68.18, 94.1]

In [20]:
#Forming a nested list comprehension:

a=[x**2for x in [x**2 for x in range (11)]]

a

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]

In [21]:
#Final result is x**4 for all whole numbers in that range