In [1]:
#Section 11.3 Advanced Sets

In [2]:
#Various methods for sets that we may not have seen yet...
#Remember that they dont take in any tuple items, just a single item each 
#time.

In [3]:
s= set()

In [4]:
s.add(1)

In [5]:
s.add(2)

In [6]:
s

{1, 2}

In [9]:
s.clear()

In [10]:
s

set()

In [11]:
s= {1,2,3,4}

In [12]:
b=s.copy()

In [13]:
b

{1, 2, 3, 4}

In [14]:
s.add(5)

In [15]:
s

{1, 2, 3, 4, 5}

In [16]:
b

{1, 2, 3, 4}

In [17]:
s.difference(b)

#NOTE: Only gives back what is contained in s but not in b, not
#the other way around. To do both, use s.symmetric_difference(b)

{5}

In [18]:
s1= {10,2,3}
s2= {2,3,41}

s1.difference_update(s2)

#Changes s1 to only be the difference between the two sets.
#Basically same as s1.difference(s2) but we are actually changing
#s1 in the process as well.

In [19]:
s1

{10}

In [20]:
s2

{2, 3, 41}

In [21]:
s2.discard(41)

In [22]:
s2

{2, 3}

In [24]:
s1= {10,2,3}
s2= {2,3,41}

In [25]:
s1.intersection(s2)

{2, 3}

In [26]:
s1
#s1 wasnt changed

{2, 3, 10}

In [27]:
s1.intersection_update(s2)
#Similar to difference_update, this actually changes s2 to be the
#intersection of the two sets

In [28]:
s1
#s1 was changed

{2, 3}

In [29]:
s1= {10,2,3}
s2= {2,3,41}
s3={5}

In [30]:
s1.isdisjoint(s2)
#returns true if the two sets have a null intersection (no
#intersection).

False

In [31]:
s2.isdisjoint(s3)
#shares 2. shares 3 as well.

True

In [37]:
s1={1,2,3}
s2={1,2,3,4}

s1.issubset(s2)
#True if s2 contains all of s1.

True

In [38]:
s2.issuperset(s1)
#True if s2 contains all of s1.

True

In [39]:
s1={10,2,3}
s2={2,3,45,56}

s1.symmetric_difference(s2)
#Opposite of intersection

{10, 45, 56}

In [40]:
s1.difference(s2)
#Only returns what is in s1 but not in s2.

{10}

In [41]:
s1.union(s2)
#Returns what is in s1 or s2

{2, 3, 10, 45, 56}

In [42]:
s1.update(s2)
#Changes s1 to be the union of s1 and s2

In [43]:
s1

{2, 3, 10, 45, 56}

In [44]:
#Section 11.4 Advanced Dictionaries

In [45]:
#Unlike some of the other Data Structures we've worked
#with, most of the really useful methods available to us 
#in Dictionaries have already been explored throughout this 
#course. Here we will touch on just a few more for good measure:

In [46]:
#Reminder of syntax of a dictionary:
d = {'k1':1,'k2':2}

In [47]:
#Dictionary Comprehensions (similar to list comprehensions)
{x:x**2 for x in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [52]:
#What if we wanted to assign keys that are not based on
#the given values of 0,1,2... that it automatically had above?
#Can use zip...
{k:v**2 for k,v in zip(['a','b','c','d'], range(4))}

{'a': 0, 'b': 1, 'c': 4, 'd': 9}

In [53]:
#Dictionaries can be iterated using their iter methods for python2:

for k in d.iteritems():
    print k

('k2', 2)
('k1', 1)

In [54]:
for k in d.itervalues():
    print k

2
1

In [55]:
for k in d.iterkeys():
    print k

k2
k1

In [56]:
d.viewitems()

dict_items([('k2', 2), ('k1', 1)])

In [57]:
d.viewkeys()

dict_keys(['k2', 'k1'])

In [58]:
d.viewvalues()

dict_values([2, 1])