In [1]:
#Section 10.5 Datetime

In [2]:
#Python has the datetime module to help deal with 
#timestamps in your code. Time values are represented 
#with the time class. Times have attributes for hour, 
#minute, second, and microsecond. They can also include 
#time zone information. The arguments to initialize a time 
#instance are optional, but the default of 0 is unlikely to 
#be what you want.

In [3]:
#Lets take a look at how we can extract time information 
#from the datetime module. We can create a timestamp by
#specifying datetime.time(hour,minute,second,microsecond)

In [4]:
import datetime

In [7]:
t=datetime.time(5,25,1)

In [8]:
print t

05:25:01

In [10]:
t.minute

25

In [13]:
print datetime.time.min
#Lowest time we can have

00:00:00

In [15]:
print datetime.time.max
#Just before one day...

23:59:59.999999

In [19]:
today = datetime.date.today()
#Also have date class

In [17]:
print today

2016-05-26

In [18]:
today. timetuple()

time.struct_time(tm_year=2016, tm_mon=5, tm_mday=26, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=3, tm_yday=147, tm_isdst=-1)

In [20]:
today.year

2016

In [21]:
today.month

5

In [22]:
print datetime.date.max

9999-12-31

In [23]:
#can also replace the year/month/day of an existing date to
#create a new date
d1 = datetime.date(2015,3,11)

In [24]:
d1

datetime.date(2015, 3, 11)

In [25]:
d2=d1.replace(year=1993)

In [26]:
d2

datetime.date(1993, 3, 11)

In [27]:
#Can also subtract dates to know how many days between each

In [28]:
d2-d1

datetime.timedelta(-8035)

In [29]:
d1-d2

datetime.timedelta(8035)

In [30]:
#Section 10.6 Python Debugger

In [31]:
#You've probably used a variety of print statements to 
#try to find errors in your code. A better way of doing 
#this is by using Python's built-in debugger module (pdb). 
#The pdb module implements an interactive debugging environment 
#for Python programs. It includes features to let you pause 
#your program, look at the values of variables, and watch 
#program execution step-by-step, so you can understand what 
#your program actually does and find bugs in the logic.

#This is a bit difficult to show since it requires creating 
#an error on purpose, but hopefully this simple example 
#illustrates the power of the pdb module. Note: Keep in mind 
#it would be pretty unusual to use pdb in an iPython Notebook 
#setting.

In [32]:
import pdb

In [34]:
x=[1,2,4]
y=2
z=3

result=y+z
print result
result2=y+x
print result2
#Shouldnt work because we are adding an integer to a list

5

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [ ]:
#So we go to the line where we see we have an error and type 
#a trace just above it:

x=[1,2,4]
y=2
z=3

result=y+z
print result

pdb.set_trace()

result2=y+x
print result2

5
--Return--
> <ipython-input-35-fd5d1083ed52>(10)<module>()->None
-> pdb.set_trace()

In [ ]:
#^Now we have an interactive debugging platform that we can
#type in variables and python tells us what it is. We can also
#do operations in there like y+z.
#Press q to quit